<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Team Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head> 
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Team Manager", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Player"))
                        {
                            <li>@Html.ActionLink("Player Home", "Index", "Players")</li>
                            <li>@Html.ActionLink("Scouting Event", "Index", "ScoutingEvents")</li>                            
                            
                        }
                        else if (User.IsInRole("Coach"))
                        {
                            <li>@Html.ActionLink("Team Practice", "Index", "TeamPractices")</li>
                            <li>@Html.ActionLink("Tournament", "Index", "Tournaments")</li>
                            <li>@Html.ActionLink("Team Meeting", "Index", "TeamMeetings")</li>
                            <li>@Html.ActionLink("Team Dinner", "Index", "TeamDinners")</li>
                            <li>@Html.ActionLink("Payments", "Index", "CoachPayments")</li>
                        }
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - New Boot Solutions</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
