@model IEnumerable<TeamManager.Models.Tournament>

@{
    ViewBag.Title = "Index";
}

<h2>Tournaments</h2>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Coach"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tournamentLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tournamentTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tournamentPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tournamentHotel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tournamentLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tournamentTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tournamentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tournamentHotel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.tournamentId }) |
            @Html.ActionLink("Details", "Details", new { id=item.tournamentId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.tournamentId })
        </td>
    </tr>
}

</table>

<div id="map">


</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: uluru

        });
        for(i = 0;i < model.length; i++)
        {
            var latlong = { lat: parseFloat(model[i].lat), lng: parseFloat(model[i].lng)};
            var marker = new google.maps.Marker({
                position: latlong,
                map: map
            });
            map.setCenter(latlong);
        }

      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgy517PxiQ5LcN82qIqrkfJxErCOSJ2Gc&callback=initMap">
</script>
