@model IEnumerable<TeamManager.Models.ScoutingEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Scouting Event</h2>

<p>
    @Html.ActionLink("Create New Scouting Event", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.rivalTeam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scoutingField)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scoutingTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.scoutingNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.rivalTeam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scoutingField)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scoutingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.scoutingNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.scoutingEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.scoutingEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.scoutingEventId })
        </td>
    </tr>
}

</table>
