@model IEnumerable<TeamManager.Models.TeamDinner>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.teamDinnerTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teamDinnerLocation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.teamDinnerTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teamDinnerLocation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.teamDinnerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.teamDinnerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.teamDinnerId })
        </td>
    </tr>
}

</table>
