@model TeamManager.Models.TeamPractice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamPractice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.practiceLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.practiceLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.practicePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.practicePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.practiceTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.practiceTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teamPracticeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
