@model IEnumerable<TeamManager.Models.TeamPractice>

@{
    ViewBag.Title = "Index";
}

<h2>Team Practice's</h2>


@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Coach"))
    {
        <p>
            @Html.ActionLink("Create New Team Practice", "Create")
        </p>
    }
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.practiceLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.practicePrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.practiceDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.practiceTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.practiceIndoor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.practiceOutdoor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.practiceLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practicePrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practiceTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practiceIndoor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.practiceOutdoor)
        </td>
        <td>
            @Html.ActionLink("Weather", "Weather", new { id = item.teamPracticeId })
        </td>

        <td>

            @if (User.Identity.IsAuthenticated)
            {
                if (User.IsInRole("Player"))
                {
                    @Html.ActionLink("Details", "Details", new { id = item.teamPracticeId })
                }
                else if (User.IsInRole("Coach"))
                {
                    @Html.ActionLink("Edit | ", "Edit", new { id = item.teamPracticeId }) 
                    @Html.ActionLink("Details | ", "Details", new { id = item.teamPracticeId }) 
                    @Html.ActionLink("Delete", "Delete", new { id = item.teamPracticeId })

                }
            }

        </td>
    </tr>
}

</table>

<div id="map">


</div>

<script>
    var model = @Html.Raw(Json.Encode(Model));
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 9,
          center: uluru

        });
        for(i = 0;i < model.length; i++)
        {
            var latlong = { lat: parseFloat(model[i].lat), lng: parseFloat(model[i].lng)};
            var marker = new google.maps.Marker({
                position: latlong,
                map: map
            });
            map.setCenter(latlong);
        }
        
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgy517PxiQ5LcN82qIqrkfJxErCOSJ2Gc&callback=initMap">
</script>