@model IEnumerable<TeamManager.Models.Coach>

@{
    ViewBag.Title = "Index";
}

<h2>Coach's Home Page</h2>


<table class="table">
    <tr>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.coachId }) |
            @Html.ActionLink("Details", "Details", new { id=item.coachId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.coachId })
        </td>
    </tr>
}

</table>

<div class="row">
    <div class="col-md-3">
        <p><a class="btn btn-default" @Html.ActionLink("TeamPractices", "Index", "TeamPractices") &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" @Html.ActionLink("Tournaments", "Index", "Tournaments") &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" @Html.ActionLink("TeamMeetings", "Index", "TeamMeetings") &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <p><a class="btn btn-default" @Html.ActionLink("TeamDinners", "Index", "TeamDinners") &raquo;</a></p>
    </div>
</div>
